*.db
*/.venv
*/__pycache__

/suite-k8s-python/config.json
/suite-k8s-python/namespaces.json

*/servidor-python-simples/.venv/

*.venv/

.streamlit/

# Java / Quarkus
target/
*.class
*.jar
.mvn/wrapper/maven-wrapper.jar
*.iml
*.ipr
.idea/
.flattened-pom.xml
.classpath
.settings/
.project
bin/
.vscode/
.DS_Store
.env
.pytest_cache/