apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  labels:
    app: prometheus
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: 'kubernetes-pushgateway'
        static_configs:
          - targets: ['pushgateway:9091']
      - job_name: 'tool-state'
        metrics_path: /metrics
        static_configs:
          - targets: ['tool-state:80']
