apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  labels:
    app: prometheus
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: 'tool-state'
        # Quarkus 3 Micrometer Prometheus endpoint
        metrics_path: /q/metrics/prometheus
        static_configs:
          - targets: ['tool-state:80']
